{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "astroAllowShorthand": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2
}
